body{
	font-family:sans-serif;
	

	
}
#one{
	background-color:cornflowerblue;
	padding: 30px 50px 600px 50px;
	float: left;
	color: white;
}
#two{
	float: left;
	padding-left: 1em;
}

.bh{
	display: block;
}
